// Callout

//
// Variables
//

@import "../variables";


//
// Base styles
//
joomla-callout {
    background-color: var(--inverse-color);
    box-shadow: 0 1.2px 3.6px -1px rgba(29, 36, 39, 0.1), 0 6.4px 14.4px -3px rgba(29, 36, 39, 0.15);
    display: none;
    position: fixed;
    padding: 1.6rem 1.8rem .8rem 1.8rem;
    border-radius: 3px;
    min-height: 50px;
    width: 300px;
}
joomla-callout[expanded] {
    display: block
}

joomla-callout::before {
    content: "";
    width: 0px;
    height: 0px;
    border: .7rem solid transparent;
    position: absolute;
    left: -22px;
    border-right: 0.7rem solid var(--inverse-color);
    top: 0;
    margin: auto;
    bottom: 0;
}
.callout-title{
    font-size: 1.143rem;
    color: var(--color);
    margin-bottom: .8rem;
}
.callout-content{
    font-size: 1rem;
    line-height: 1.61;
    color: var(--secondary-color);
}
.callout-link{
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.61;
    color: var(--link-color);
    text-decoration: none;
    margin-top: .65rem;
}
.callout-footer{
    border-top: 1px solid rgba(29, 36, 39, 0.15);
    margin-top: .2rem;
}
.joomla-callout--close{
    border: 0;
    color: #605e5c;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.4rem;
    line-height: 1;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}