// Group buttons

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../variables";

// Make the div behave like a button
joomla-group-buttons {
  position: relative;
  display: inline-flex;
  vertical-align: middle; // match .btn alignment given font-size hack above

  > .btn {
    display: inline-block;
    flex: 0 1 auto;
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    // Bring the hover, focused, and "active" buttons to the front to overlay
    // the borders properly
    @include hover {
      z-index: 2;
      text-decoration: none;
    }

    &:focus,
    &:active,
    &.active {
      z-index: 2;
      box-shadow: 0 0 0 3px rgba(0, 123, 255, .25);
    }

    &.btn:disabled {
      opacity: .65;
    }


    &.btn-primary {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }

    &.btn-primary:hover {
      color: #fff;
      background-color: #0069d9;
      border-color: #0062cc;
    }

    &.btn-primary:focus,
    &.btn-primary.focus {
      box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
    }

    &.btn-primary.disabled,
    &.btn-primary:disabled {
      background-color: #007bff;
      border-color: #007bff;
    }

    &.btn-success {
      color: #fff;
      background-color: #28a745;
      border-color: #28a745;
    }

    &.btn-success:hover {
      color: #fff;
      background-color: #218838;
      border-color: #1e7e34;
    }

    &.btn-success:focus,
    &.btn-success.focus {
      box-shadow: 0 0 0 3px rgba(40, 167, 69, .5);
    }

    &.btn-success.disabled,
    &.btn-success:disabled {
      background-color: #28a745;
      border-color: #28a745;
    }

    &.btn-info {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8;
    }

    &.btn-info:hover {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b;
    }

    &.btn-info:focus,
    &.btn-info.focus {
      box-shadow: 0 0 0 3px rgba(23, 162, 184, .5);
    }

    &.btn-info.disabled,
    &.btn-info:disabled {
      background-color: #17a2b8;
      border-color: #17a2b8;
    }

    &.btn-warning {
      color: #111;
      background-color: #ffc107;
      border-color: #ffc107;
    }

    &.btn-warning:hover {
      color: #111;
      background-color: #e0a800;
      border-color: #d39e00;
    }

    &.btn-warning:focus,
    &.btn-warning.focus {
      box-shadow: 0 0 0 3px rgba(255, 193, 7, .5);
    }

    &.btn-warning.disabled,
    &.btn-warning:disabled {
      background-color: #ffc107;
      border-color: #ffc107;
    }

    &.btn-danger {
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545;
    }

    &.btn-danger:hover {
      color: #fff;
      background-color: #c82333;
      border-color: #bd2130;
    }

    &.btn-danger:focus,
    &.btn-danger.focus {
      box-shadow: 0 0 0 3px rgba(220, 53, 69, .5);
    }

    &.btn-danger.disabled,
    &.btn-danger:disabled {
      background-color: #dc3545;
      border-color: #dc3545;
    }
  }

  // Prevent double borders when buttons are next to each other
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -$input-btn-border-width;
  }

}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .input-group {
    width: auto;
  }

}

joomla-group-buttons > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

// Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match
joomla-group-buttons > .btn:first-child {
  margin-left: 0;

  &:not(:last-child):not(.dropdown-toggle) {
    @include border-right-radius(0);
  }

}

// Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
joomla-group-buttons > .btn:last-child:not(:first-child),
joomla-group-buttons > .dropdown-toggle:not(:first-child) {
  @include border-left-radius(0);
}

// Custom edits for including btn-groups within btn-groups (useful for including dropdown buttons within a btn-group)
joomla-group-buttons > joomla-group-buttons {
  float: left;
}

joomla-group-buttons > joomla-group-buttons:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

joomla-group-buttons > joomla-group-buttons:first-child:not(:last-child) {

  > .btn:last-child,
  > .dropdown-toggle {
    @include border-right-radius(0);
  }

}

joomla-group-buttons > joomla-group-buttons:last-child:not(:first-child) > .btn:first-child {
  @include border-left-radius(0);
}


// // Sizing
// //
// // Remix the default button sizing classes into new ones for easier manipulation.

// .btn-group-sm > .btn { @extend .btn-sm; }
// .btn-group-lg > .btn { @extend .btn-lg; }


//
// Split button dropdowns
//

// .btn + .dropdown-toggle-split {
//   padding-right: $input-btn-padding-x * .75;
//   padding-left: $input-btn-padding-x * .75;

//   &::after {
//     margin-left: 0;
//   }
// }

// .btn-sm + .dropdown-toggle-split {
//   padding-right: $input-btn-padding-x-sm * .75;
//   padding-left: $input-btn-padding-x-sm * .75;
// }

// .btn-lg + .dropdown-toggle-split {
//   padding-right: $input-btn-padding-x-lg * .75;
//   padding-left: $input-btn-padding-x-lg * .75;
// }


// The clickable button for toggling the menu
// Set the same inset shadow as the :active state
joomla-group-buttons.show .dropdown-toggle {
  @include box-shadow($btn-active-box-shadow);

  // Show no shadow for `.btn-link` since it has no other button styles.
  &.btn-link {
    @include box-shadow(none);
  }

}


// Checkbox and radio options
//
// In order to support the browser's form validation feedback, powered by the
// `required` attribute, we have to "hide" the inputs via `clip`. We cannot use
// `display: none;` or `visibility: hidden;` as that also hides the popover.
// Simply visually hiding the inputs via `opacity` would leave them clickable in
// certain cases which is prevented by using `clip` and `pointer-events`.
// This way, we ensure a DOM element is visible to position the popover from.
//
// See https://github.com/twbs/bootstrap/pull/12794 and
// https://github.com/twbs/bootstrap/pull/14559 for more information.

joomla-group-buttons {

  > .btn,
  > .btn-group > .btn {
    input[type="radio"],
    input[type="checkbox"] {
      position: absolute;
      clip: rect(0,0,0,0);
      pointer-events: none;
    }

  }

}

