// Alerts

//
// Functions
//

// Retrieve color Sass maps
@function color($key: "blue") {
  @return map-get($colors, $key);
}

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

@function gray($key: "100") {
  @return map-get($grays, $key);
}

// Request a theme color level
@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, $black, $white);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}


//
// Mixins
//

@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin alert-variant($background, $border, $color) {
  color: $color;
  background-color: $background;
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }
}

//
// Variables
//

@import "../variables";


//
// Base styles
//

joomla-alert {
  display: block;
  min-width: 250px;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  border-radius: $alert-border-radius;
  opacity: 0;
  transition: $transition-fade;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &.joomla-alert--show {
    display: block;
    opacity: 1;
  }

  .joomla-alert--close, .joomla-alert-button--close {
    position: relative;
    top: -$alert-padding-y;
    right: -$alert-padding-x;
    padding: .2rem 1rem;
    color: inherit;
  }

  .joomla-alert--close {
    font-size: $close-font-size;
    font-weight: $close-font-weight;
    line-height: 1;
    text-shadow: $close-text-shadow;
  }

  .joomla-alert--close, .joomla-alert-button--close {
    float: right;
    color: $close-color;
    background: transparent;
    border: 0;
    opacity: .5;

    @include hover-focus {
      color: $close-color;
      text-decoration: none;
      cursor: pointer;
      opacity: .75;
    }
  }

  // Additional properties for button version
  // iOS requires the button element instead of an anchor tag.
  // If you want the anchor version, it requires `href="#"`.
  // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

  // scss-lint:disable QualifyingElement
  button.joomla-alert-button--close {
    padding-top: .75rem;
    font-size: 100%;
    line-height: 1.15;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }

}

// Alternate styles
@each $color, $value in $alert-colors {
  joomla-alert[type="#{$color}"] {
    @include alert-variant(theme-color-level($color, -10), theme-color-level($color, -9), theme-color-level($color, 6));
  }
}

// RTL overrides
html[dir=rtl] joomla-alert {
  .joomla-alert--close,
  .joomla-alert-button--close {
    right: auto;
    left: -1.25rem;
    float: left;
  }
}
