@import "../variables";

$alert-padding-y: .5rem;

// Alerts

@mixin alert-variant($background, $border, $body-color) {
  background-color: $background;
  border-color: $border;
  color: $body-color;
}

@import "node_modules/bootstrap/scss/mixins";


// @import "node_modules/bootstrap/scss/alert";

//
// Base styles
//

joomla-alert {
  display: block;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  opacity: 0;
  @include border-radius($alert-border-radius);
  @include transition($transition-fade);

  &.joomla-alert--show {
    opacity: 1;
  }

  .joomla-alert--close, .joomla-alert-button--close {
    position: relative;
    top: -$alert-padding-y;
    right: -$alert-padding-x;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }

  .joomla-alert--close {
    font-size: $close-font-size;
    font-weight: $close-font-weight;
    line-height: 1;
    text-shadow: $close-text-shadow;
  }

  .joomla-alert--close, .joomla-alert-button--close {
    float: right;
    color: $close-color;
    background: transparent;
    border: 0;
    opacity: .5;

    @include hover-focus {
      color: $close-color;
      text-decoration: none;
      cursor: pointer;
      opacity: .75;
    }
  }

  // Additional properties for button version
  // iOS requires the button element instead of an anchor tag.
  // If you want the anchor version, it requires `href="#"`.
  // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

  // scss-lint:disable QualifyingElement
  button.joomla-alert-button--close {
    padding-top: .75rem;
    font-size: 100%;
    line-height: 1.15;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }

}

// Alternate styles
joomla-alert[level="success"] {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

joomla-alert[level="info"] {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

joomla-alert[level="warning"] {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

joomla-alert[level="danger"] {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
