{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "brace-style": [1, "1tbs", {}],
    "no-const-assign": 2,
    "no-var": 1,
	"curly": "error"
  }
}
