.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
docs
test
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
babel.config.json
cleanup.json
README.md
rollup.config.js
karma.conf.js
