
sudo: false
dist: trusty
language: node_js
node_js:
- '8'
before_install:
- if [[ `npm -v` != 5* ]]; then npm install -g npm@5; fi
install:
- npm install
before_script:
- npm install -g bower
- bower install
script:
- eslint src
- wct --configFile saucelabs.conf.json --plugin sauce
notifications:
  email: false
addons:
  sauce_connect: true
env:
   global:
    secure: aiddgZztlRs8ftSvRmtnE29gT/c7hgp6np0OU2qwtuSPKuNBo6Z+Dw1Xn/FvZ4Tj9uQGbCxaYH5RdzGWiPKL8HTpZ4TWAExnNyGRtdfIpkodTskGyzfT0w6aZ9gFOEiW+yI8y9mks1NTBHNPVrPIWMNBn0KGwX8YunBbjHF7f75MugogcVlGahJiaS4BsZY/RgfaUCYaqP8VQNPXYunKwKBlEl5P0usm90quz+4hzkf1SxUinSufMKVXPV003n6UFA6qDJGD86PGiHI5v03jZmwtuEsnv4jx3jN+iz1PMVRpW5xo64vnPVVyBNXRIKmmyYDT4rLSxu/xJo61U85T4xc3nPhn9xLcHfp8ptvQI+1UclbAgOCrDSatWq+ariLO9mwa/u+Md/+a5ol+keziUFeruUQXXGIA2CoAg7INqM1QK0JgPT0QsRnW6VS5BDW+gEbwkaXrxLeNdhfSRWPMV/RETCj8F1P8KlPQOfeIvIcXj5zIIC7i2+Cxxf/VBkNawW+0EntOZZY+6LZJ+OSFVV0cVbiOVRvM0O8lFSUHaVG0MLHy4l9nFT5FNI6VcqzjgtauOKuxbP1HUGVjWUGkn+VfkTekYxF3XgsN7CYKQNZlnYC52GxtzaGWfM/1GkwH+rZ1bgfOX2sGH6sd3Kupxy4l6Om8Oi+NZ1bbReNxVaM=
    secure: b++dZAqfXDya9QirEP3PBQzPAgtqNYDeDTThdqtgfSF4lM+hTONwOe8iTYBVhbuRXTWJdkAyxIBOKFgJueaaI0oGOD0aE1iTUP98W6YiJn4ueZ+w9sS51jpW+3VLNQhFuyX071aii9+tuBURzmYytEz1JnZ/D8UOPfumFf3EMPnzCb3YkGuzFK9KAcKp3BqF8gGgK6vvP1rXVXb4F/S2PLBgZUmRMoWwxmUJSAs8GXKYVldqoZUxKWDJ/LN9CFzDDyybkTZFp/TkG8+G7AaSx+A2S/8/exJWhFFc+ycxhePQeuC0C2eAtq2lEZG9uDiu72YM6DvOx8UWhh0Uv2S6YVs0EPvfn3Ht5LBl1Ss7k8kBgkAJ0X+Xwm3r/m4jCTad6RBrQbzS3pLM6m0KoEVoBVyHlFj2E55MrJkRvfJSQtbZ0nReYcmA47u74xMWk8v5AkE4nkhZKO4Eun6CWW+rnBb27bNLcw1OZky060ds9a7yqKFQvDV2VWDSXG5jr+wYGD8ByqBwL2ApS4hF3/BhCqFjusJvIwMAGpiof7qoUZvxE1UJgOKZl1J9Imhl0c3y5clnMThINvvRFQFt3NxLi6jDi54wCAocOlJcmg2ykS0hY+6UCGRHyzvX3WLFAydcgkkga1Ov6EDA7WXKu+5DK22bk4Rki5cZdD6+wpRqFQg=
