// Collapse

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../variables";

joomla-collapse {

  &[state="closed"] {
    display: none;
  }

  &[state="open"] {
    display: block;
  }

}
