@import "node_modules/bootstrap/scss/variables";

// Alerts

@mixin alert-variant($background, $border, $body-color) {
  background-color: $background;
  border-color: $border;
  color: $body-color;
}

@import "node_modules/bootstrap/scss/mixins";


// @import "node_modules/bootstrap/scss/alert";

//
// Base styles
//

joomla-alert {
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
  display:block;
    // Adjust close link position
  .close, .button--close{
    position: relative;
    top: -$alert-padding-y;
    right: -$alert-padding-x;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }

    .close {
			font-size: $close-font-size;
			font-weight: $close-font-weight;
			line-height: 1;
			text-shadow: $close-text-shadow;
		}

    .close, .button--close {
			float: right;
			color: $close-color;
			opacity: .5;

			@include hover-focus {
				color: $close-color;
				text-decoration: none;
				cursor: pointer;
				opacity: .75;
			}
	}
	// Additional properties for button version
	// iOS requires the button element instead of an anchor tag.
	// If you want the anchor version, it requires `href="#"`.
	// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

	// scss-lint:disable QualifyingElement
	button.close {
	padding-right: .5rem;
	padding-top: .5rem;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	}


  opacity: 0;
  @include transition($transition-fade);

  &.show {
    opacity: 1;
  }


}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

joomla-alert[level="success"] {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}
joomla-alert[level="info"] {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}
joomla-alert[level="warning"] {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}
joomla-alert[level="danger"] {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
