// Dropdown

//
// Variables
//

@import "../variables";


//
// Base styles
//

joomla-dropdown {
  position: absolute;
  top: 100%;
  z-index: 9999;
  display: none;
  min-width: 16.071rem;
  margin-top: 0.214rem;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 0 30px 60px -10px rgba(0, 28, 73, 0.15);
  border-radius: 3px;
  &.j-dropdown-sm {
    line-height: 1;
  }
  ul {
    list-style: none;
  }
  li{
    position: relative;
    ul{
      position: absolute;
      left: 100%;
      top: 0;
      background-color: #ffffff;
      border: 1px solid #eaeef5;
      box-shadow: 0 30px 60px -10px rgba(0, 28, 73, 0.15);
      min-width: 16.071rem;
      padding: 0;
      list-style: none;
      opacity: 0;
      visibility: hidden;
      transition: 300ms;
    }
    &.left ul{
      left: auto;
      right: 100%;
    }
    &[open] > ul{
      visibility: visible;
      opacity: 1;
    }
    &.has-submenu{
      > a{
        position: relative;
        &::after{
          content: '';
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          height: 12px;
          width: 12px;
          background-size: contain;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.707 6.283a1 1 0 0 1-1.414 0L.7 1.69A.99.99 0 0 1 2.1.29L6 4.19 9.9.29a.99.99 0 0 1 1.4 1.4L6.707 6.283z' fill='%23C1C7D0' fill-rule='nonzero'/%3E%3C/svg%3E");
          display: inline-block;
          background-position: center center;
          background-repeat: no-repeat;
          transition: 300ms;
        }
      }
      &[open] > a::after{
        transform: translateY(-50%) rotate(-90deg)
      }
      &.left > a{
        padding-left: 30px;
        &::after{
          right: auto;
          left: 10px;
        }
      }
      &[open].left > a::after{
        transform: translateY(-50%) rotate(90deg)
      }
    }
    &:last-child {
      .dropdown-item {
        border-bottom: 0;
      }
    }
  }

  &[expanded] {
    display: block;
  }

  .dropdown-item {
    display: block;
    padding: 0.571rem 1.143rem;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    border-bottom: 1px solid var(--bg-color);
    cursor: pointer;
    color: var(--text-color);
    transition: 300ms;
    min-width: 100%;
    &:not([href]):not([tabindex]):hover,
    &:hover{
      color: var(--primary-color);
      background-color: var(--primary-lighter-color);
      .menu-item-title {
        color: var(--primary-color);
      }
    }
    &:active{
      background: #ffffff;
    }
    &:focus {
      outline: 2px solid var(--primary-color);
      background: #ffffff;
    }
    > p{
      padding-left: 1.143rem;
      padding-right: 1.143rem;
      &:first-child{
        margin-top: 1.143rem;
      }
      &:last-child{
        margin-bottom: 1.143rem;
      }
    }
    &[position="right"]{
      right: 0;
    }
    &[position="left"] {
      left: 0;
    }
    .menu-item-title {
      color: var(--secondary-text-color);
      font-weight: 500;
    }
    .text-mute {
      color: var(--icon-color);
      font-size: 12px;
    }
  }
  &[position="right"]{
    right: 0;
  }
  &[position="left"] {
    left: 0;
  }
  &[position="right"]{
    right: 0;
  }
  &[position="left"] {
    left: 0;
  }
}

.joomla-dropdown-container {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.j-has-dropdown {
  span {
    margin-left: .5rem;
  }
}
// RTL overrides
html[dir=rtl] joomla-dropdown {
  right: 0;
  left: auto;
}
