// Tab

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../variables";

joomla-panels {
  display: flex;
  flex-direction: column;

  > ul {
    display: flex;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: outside none none;
    background-color: $tab-ul-bg;
    border-color: $tab-ul-border-color;
    border-style: solid solid none;
    border-width: $tab-ul-border-width;
    border-radius: $tab-ul-border-radius;
    border-image: none;
    box-shadow: $tab-ul-box-shadow;
  }

  a[role="tab"] {
    position: relative;
    display: block;
    padding: $tab-link-padding;
    color: $tab-link-colour;
    text-decoration: none;
    box-shadow: $tab-link-box-shadow;

    &[active] {
      background-color: $tab-link-bg-colour-active;
      background-image: $tab-link-bg-image-active;
      border-right: 0 none;
      border-left: 0 none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: $tab-link-box-shadow-active;

      &::after {
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;
        height: $tab-link-width-active;
        content: "";
        background-color: theme-color("primary");
        opacity: .8;
      }

    }

  }

  > section {
    display: none;
    padding: $tab-content-padding;
    background-color: $tab-content-bg;
    border: $tab-content-border;
    border-radius: $tab-content-border-radius;
    box-shadow: $tab-content-box-shadow;

    &[active] {
      display: block;
    }

  }

  &[orientation="vertical"] {
    flex-direction: row;
    align-items: flex-start;

    > ul {
      flex-direction: column;
      min-width: 30%;
      height: auto;
      overflow: hidden;
      border: $tab-vertical-ul-border;
      border-radius: $tab-border-radius;
      box-shadow: none;
    }

    li:last-of-type a {
      border-bottom: 0;
    }

    a {
      position: relative;
      display: block;
      padding: $tab-link-padding;
      color: $tab-link-colour;
      text-decoration: none;
      border-bottom: $tab-accordion-link-border;
      box-shadow: none;

      &[active] {
        background-color: $white;
        background-image: none;
        border-right: 0 none;
        border-left: 0 none;
        box-shadow: none;
      }

      &[active]::after {
        top: 0;
        bottom: 0;
        left: -1px;
        width: $tab-link-width-active;
        height: auto;
      }

    }

    > section {
      padding: $tab-content-padding;
      border: 0 none;
      box-shadow: none;
    }

  }

  &[view="accordion"] {

    > ul {
      flex-direction: column;
      white-space: normal;
      border-radius: $tab-accordion-ul-border-radius;
      box-shadow: $tab-accordion-ul-box-shadow;
    }

    section {
      display: none;
      padding: $tab-content-padding;
    }

    section[active] {
      display: block;
      border-bottom: $tab-accordion-link-border;
    }

    [active] {
      background-color: $white;
    }

    a[role="tab"] {
      border-bottom: $tab-accordion-link-border;

      &[active]::after {
        top: 0;
        left: 0;
        width: $tab-link-width-active;
        height: 100%;
      }

    }

  }

}

// Alternate styles
@each $color, $value in $theme-colors {
  joomla-panels[type="#{$color}"] a[role="tab"] {
    &[active]::after {
      background-color: theme-color-level($color);
    }
  }
}
