// Callout

//
// Variables
//

@import "../variables";


//
// Base styles
//
.flextable{
  z-index: 10;
  .flextable-item{
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
  }
  .flextable-main-parent{
    position: relative;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      bottom: 20px;
      left:20px;
      width: 1px;
      background-color: #ccd3d7;
      z-index: -1;
    }
    >.flextable-child{
      padding-left: 40px;
      .flextable-item{
        position: relative;
        padding: 7px 10px;
        &:after{
          content: "";
          position: absolute;
          bottom: 20px;
          left: -20px;
          width: 40px;
          background-color: #ccd3d7;
          z-index: -1;
          height: 1px;
        }
      }
    }
    .flextable-child-parent{
      >.flextable-child{
        padding-left: 40px;
        .flextable-item{
          &:before{
            content: "";
            position: absolute;
            bottom: 20px;
            left: -20px;
            background-color: #ccd3d7;
            z-index: -1;
            top: -30px;
            width: 1px;
          }
        }
      }
    }
  }
}