//
// Variables
//

@import "../variables";

joomla-pagination {
  display: block;
  nav{
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    .pagination-label {
      padding: 0 10px;
      color: var(--secondary-text-color);
    }
    ul{
      display: -ms-inline-flexbox;
      display: inline-flex;
      list-style: none;
      font-size: 1rem;
      padding: 0;
      margin: 0;
      list-style: none;
      .pagination-item {
        padding: 2px 7px;
        margin: 0 5px 0 0;
        color: var(--secondary-text-color);;
        width: 100%;
        text-align: center;
        cursor: pointer;
        font-size: 1rem;
        
        &.active,
        &:not(.disabled):hover,
        &:active {
          background: #ffffff;
          border-radius: 3px;
          color: var(--primary-text-color);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
        }
        &.dot-item {
          &:hover {
            color: var(--primary-color);
          }
        }
      }

      .pagination-item.disabled {
        cursor: not-allowed;
      }
      a{
        transition: .3s;
      }
    }
  }
  .has-arrow{
    text-decoration: none;
    color: var(--secondary-icon-color);
    &:hover, &:focus{
      color: var(--icon-color);
    }
    &.first-page, &.next-page{
      margin-right: 5px;
    }
    &.last-page, &.prev-page{
      margin-left: 5px;
    }
  }
  .pagination-item{
    a{
      color: var(--secondary-text-color);
      text-decoration: none;
      display: block;
      line-height: 1.4rem;
      padding: 1px 6px;
      border-radius: 3px;
      &:hover, &:focus, &.active{
        color: var(--primary-text-color);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
      }
    }
  }
  .minimize-list{
    margin-right: 12px;
  }
  .minimize-items-wrapper{
    background-color: #fff;
    box-shadow: 0 10px 20px -5px rgba(0, 28, 73, 0.15);
    display: none;
    position: absolute;
    ul{
      -ms-flex-direction: column;
      flex-direction: column;
      max-height: 105px;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        left: 15px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #fff;
        width: 0;
        height: 0;
        top: -4px;
      }
      .pagination-item{
        margin-right: 0;
        >a{
          padding: 1px 5px;
          border-bottom: 1px solid var(--bg-color);
          border-radius: 0px;
          &:hover, &:focus{
            color: var(--primary-color);

          }
          &:after{
            display: none;
          }
        }
      }
    }
  }
  .items-toggler{
    color: var(var(--primary-light-color));
    cursor: pointer;
  }
  .minimize-items-wrapper.active {
    display: block;
  }
}

.dot-item-list {
  list-style: none;
  box-shadow: 0 30px 60px -10px rgba(0, 28, 73, 0.15);
  padding: 5px 0;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  max-height: 180px;
  overflow-y: auto;
  border: solid 1px #eaeef5;
  background: #fff;
  min-width: 40px;
  max-width: 40px;

  .pagination-item {
    color: var(--secondary-text-color);
    padding: 6px 8px;
    border-bottom: 1px solid var(--bg-color);
    cursor: pointer;
    transition: all .3s ease;
    width: 100%;
    line-height: 1;
    &:hover {
      color: var(--primary-color);
      background-color: var(--primary-lighter-color);
    }
  }
}
.dot-item-list {
  -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefox
}

.dot-item-list::-webkit-scrollbar {
  display: none;  // Safari and Chrome
}

.j-pagination-footer {
  display: flex;
  justify-content: space-between;
}
