
joomla-card {
    display: flex;
    width: fit-content;
    background: #f4f7fc;
    padding: 5px;
}
.card-body {
    padding: 50px;
}
span#dropdownID {
    position: absolute;
    right: 10px;
    bottom: 5px;
}