joomla-accordion > h3 {
  border-bottom: 2px solid #ccc; }

/* Style the accordion panel. Note: hidden by default */
joomla-accordion > section {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden; }

joomla-accordion > h3.active {
  color: green; }

joomla-accordion > h3.active ~ section.show {
  display: block; }

joomla-accordion[state="closed"] {
  display: none; }

joomla-accordion[state="open"] {
  display: block; }
  joomla-accordion[state="open"] .accordion-panel-body {
    border-bottom: 1px solid #ccd3d7; }

joomla-accordion.accordion > div:first-child {
  border-top: 1px solid #ccd3d7; }

joomla-accordion.accordion.disabled {
  pointer-events: none;
  opacity: 0.5;
  color: #6c757d; }
  joomla-accordion.accordion.disabled a {
    color: #6c757d; }

joomla-accordion.accordion .accordion-panel-title {
  border-bottom: 1px solid #ccd3d7;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
  color: var(--secondary-color); }
  joomla-accordion.accordion .accordion-panel-title .accordion-arrow {
    pointer-events: none;
    font-size: 50%;
    margin-left: 5px;
    transition: .3s;
    transform: rotate(0deg); }
  joomla-accordion.accordion .accordion-panel-title[aria-expanded="true"] {
    color: var(--color); }
    joomla-accordion.accordion .accordion-panel-title[aria-expanded="true"] .accordion-arrow {
      transform: rotate(180deg); }
  joomla-accordion.accordion .accordion-panel-title:hover {
    background-color: #edf4fa; }
  joomla-accordion.accordion .accordion-panel-title:focus {
    box-shadow: 0px 0px 0px 2px #198df8;
    outline: none; }

joomla-accordion.accordion .accordion-panel-body {
  padding: 15px; }
