:root {
  --background: #f4f7fc;
  --inverse-background: #1d2427;
  --color: #252732;
  --color-rgb: 37, 39, 50;
  --inverse-color: #ffffff;
  --secondary-color: #5e727c;
  --icon-color: #808f94;
  --secondary-icon-color: #bdc5c8;
  --button-background: #e5f2ff;
  --cancel-button-background: #f0f3f8;
  --disabled-button-background: #eaeaea;
  --link-color: #0184ff;
  --link-color-light-rgb: 229, 242, 255;
  --primary-color: #0184ff;
  --primary-gradient-color: #198df8;
  --success-color: #7ac143;
  --warning-color: #f9a541;
  --danger-color: #f44321;
  --overlay: rgba(23, 23, 23, 0.5); }

joomla-alert {
  display: block;
  min-width: 250px;
  padding: 1.143rem 1.429rem;
  margin-bottom: 1.143rem;
  border: 1px solid transparent;
  opacity: 0;
  border-radius: 3px;
  transition: 300ms;
<<<<<<< HEAD
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
  color: var(--color); }
=======
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31); }
>>>>>>> 99ff10fb1b53a2a663821850d881f783e4b2e32a
  @media screen and (prefers-reduced-motion: reduce) {
    joomla-alert {
      transition: none; } }
  joomla-alert[type='danger'] {
    background-color: var(--danger-color);
    color: var(--inverse-color); }
  joomla-alert[type='warning'] {
    background-color: var(--warning-color); }
  joomla-alert[type='success'] {
    background-color: var(--success-color);
    color: var(--inverse-color); }
  joomla-alert.joomla-alert--show {
    display: block;
    opacity: 1; }
  joomla-alert .joomla-alert--close, joomla-alert .joomla-alert-button--close {
    position: relative;
    top: -0.5rem;
    right: -1.25rem;
    padding: .2rem 1rem;
    color: inherit; }
  joomla-alert .joomla-alert--close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff; }
  joomla-alert .joomla-alert--close, joomla-alert .joomla-alert-button--close {
    float: right;
    color: #000;
    background: transparent;
    border: 0;
    opacity: .5; }
  joomla-alert button.joomla-alert-button--close {
    padding-top: .75rem;
    font-size: 100%;
    line-height: 1.15;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none; }

html[dir=rtl] joomla-alert .joomla-alert--close,
html[dir=rtl] joomla-alert .joomla-alert-button--close {
  right: auto;
  left: -1.25rem;
  float: left; }
