:root {
  --background: #f4f7fc;
  --inverse-background: #1d2427;
  --color: #252732;
  --white: #ffffff;
  --color-rgb: 37, 39, 50;
  --inverse-color: #ffffff;
  --secondary-color: #5e727c;
  --icon-color: #808f94;
  --secondary-icon-color: #bdc5c8;
  --button-background: #e5f2ff;
  --cancel-button-background: #f0f3f8;
  --disabled-button-background: #eaeaea;
  --link-color: #0184ff;
  --link-color-light-rgb: 229, 242, 255;
  --primary-color: #0184ff;
  --primary-gradient-color: #198df8;
  --success-color: #7ac143;
  --warning-color: #f9a541;
  --danger-color: #f44321;
  --overlay: rgba(23, 23, 23, 0.5); }

joomla-pagination {
  display: block; }
  joomla-pagination nav {
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
    joomla-pagination nav .pagination-label {
      padding: 0 10px;
      color: var(--secondary-text-color); }
    joomla-pagination nav ul {
      display: -ms-inline-flexbox;
      display: inline-flex;
      list-style: none;
      font-size: 1rem;
      padding: 0;
      margin: 0;
      list-style: none; }
      joomla-pagination nav ul .pagination-item {
        padding: 2px 7px;
        margin: 0 5px 0 0;
        color: var(--secondary-text-color);
        width: 100%;
        text-align: center;
        cursor: pointer;
        font-size: 1rem; }
        joomla-pagination nav ul .pagination-item.active, joomla-pagination nav ul .pagination-item:not(.disabled):hover, joomla-pagination nav ul .pagination-item:active {
          background: #ffffff;
          border-radius: 3px;
          color: var(--primary-text-color);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15); }
        joomla-pagination nav ul .pagination-item.dot-item:hover {
          color: var(--primary-color); }
      joomla-pagination nav ul .pagination-item.disabled {
        cursor: not-allowed; }
      joomla-pagination nav ul a {
        transition: .3s; }
  joomla-pagination .has-arrow {
    text-decoration: none;
    color: var(--secondary-icon-color); }
    joomla-pagination .has-arrow:hover, joomla-pagination .has-arrow:focus {
      color: var(--icon-color); }
    joomla-pagination .has-arrow.first-page, joomla-pagination .has-arrow.next-page {
      margin-right: 5px; }
    joomla-pagination .has-arrow.last-page, joomla-pagination .has-arrow.prev-page {
      margin-left: 5px; }
  joomla-pagination .pagination-item a {
    color: var(--secondary-text-color);
    text-decoration: none;
    display: block;
    line-height: 1.4rem;
    padding: 1px 6px;
    border-radius: 3px; }
    joomla-pagination .pagination-item a:hover, joomla-pagination .pagination-item a:focus, joomla-pagination .pagination-item a.active {
      color: var(--primary-text-color);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
      background-color: #ffffff; }
  joomla-pagination .minimize-list {
    margin-right: 12px; }
  joomla-pagination .minimize-items-wrapper {
    background-color: #fff;
    box-shadow: 0 10px 20px -5px rgba(0, 28, 73, 0.15);
    display: none;
    position: absolute; }
    joomla-pagination .minimize-items-wrapper ul {
      -ms-flex-direction: column;
      flex-direction: column;
      max-height: 105px;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative; }
      joomla-pagination .minimize-items-wrapper ul:before {
        content: "";
        position: absolute;
        left: 15px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #fff;
        width: 0;
        height: 0;
        top: -4px; }
      joomla-pagination .minimize-items-wrapper ul .pagination-item {
        margin-right: 0; }
        joomla-pagination .minimize-items-wrapper ul .pagination-item > a {
          padding: 1px 5px;
          border-bottom: 1px solid var(--bg-color);
          border-radius: 0px; }
          joomla-pagination .minimize-items-wrapper ul .pagination-item > a:hover, joomla-pagination .minimize-items-wrapper ul .pagination-item > a:focus {
            color: var(--primary-color); }
          joomla-pagination .minimize-items-wrapper ul .pagination-item > a:after {
            display: none; }
  joomla-pagination .items-toggler {
    color: var(var(--primary-light-color));
    cursor: pointer; }
  joomla-pagination .minimize-items-wrapper.active {
    display: block; }

.dot-item-list {
  list-style: none;
  box-shadow: 0 30px 60px -10px rgba(0, 28, 73, 0.15);
  padding: 5px 0;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  max-height: 180px;
  overflow-y: auto;
  border: solid 1px #eaeef5;
  background: #fff;
  min-width: 40px;
  max-width: 40px; }
  .dot-item-list .pagination-item {
    color: var(--secondary-text-color);
    padding: 6px 8px;
    border-bottom: 1px solid var(--bg-color);
    cursor: pointer;
    transition: all .3s ease;
    width: 100%;
    line-height: 1; }
    .dot-item-list .pagination-item:hover {
      color: var(--primary-color);
      background-color: var(--primary-lighter-color); }

.dot-item-list {
  -ms-overflow-style: none;
  scrollbar-width: none; }

.dot-item-list::-webkit-scrollbar {
  display: none; }

.j-pagination-footer {
  display: flex;
  justify-content: space-between; }
