joomla-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1000;
  display: none;
  box-sizing: border-box;
  min-width: 10rem;
  margin-top: .5rem;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15); }
  joomla-dropdown[expanded] {
    display: block; }
  joomla-dropdown .dropdown-item {
    display: block;
    padding: 0.5rem 0.75rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0; }
    joomla-dropdown .dropdown-item:hover, joomla-dropdown .dropdown-item:focus {
      color: #fff;
      background: #495057;
      text-decoration: none;
      cursor: pointer; }

.joomla-dropdown-container {
  position: relative;
  display: inline-flex;
  vertical-align: middle; }
