// Modal

//
// Variables
//

@import "../variables";


//
// Base styles
//

joomla-modal {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  box-sizing: inherit;
  opacity: 0;
  visibility: hidden;
	width: 100%;
	height: 100%;
  margin: 10px auto;
  border-radius: 5px;
	outline: 0;
	align-items: center;
	justify-content: center;
	&,
	*{
		box-sizing: border-box;
	}
  &.show {
    opacity: 1;
    visibility: visible;
	}
	
	&.fade {
		opacity: 0;
		transition: .3s;
	}
	&.fade.show {
		opacity: 1;
	}
  .joomla-modal-dialog {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
	outline: 0;
	width: 100%;
	max-width: 600px;
	max-height: 90%;
	overflow-x: hidden;
	overflow-y: auto;
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.714rem 1.714rem 0.929rem 1.714rem;
			h5{
				margin: 0;
				font-size: 1.714rem;
				line-height: 1.3rem;
			}
      button {
				width: 14px;
				height: 14px;
				background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L7 5.585 12.293.293a1 1 0 0 1 1.32-.083l.094.083a1 1 0 0 1 0 1.414L8.415 7l5.292 5.293a1 1 0 0 1 .083 1.32l-.083.094a1 1 0 0 1-1.414 0L7 8.415l-5.293 5.292a1 1 0 0 1-1.32.083l-.094-.083a1 1 0 0 1 0-1.414L5.585 7 .293 1.707A1 1 0 0 1 .21.387z' fill='%23C1C7D0' fill-rule='nonzero'/%3E%3Cpath d='M-5-5h24v24H-5z'/%3E%3C/g%3E%3C/svg%3E");
				background-position: center center;
				background-repeat: no-repeat;
				text-indent: 9999px;
				display: inline-block;
				border:none;
				background-color: transparent;
				cursor: pointer;
				transition: 300ms;
				&:hover{
					filter: contrast(0);
				}
      }
		}
    section {
      position: relative;
      flex: 1 1 auto;
      padding: 0 1.714rem;

      &.jviewport-height10 {
        height: 10vh;
      }
      &.jviewport-height20 {
        height: 20vh;
      }
      &.jviewport-height30 {
        height: 30vh;
      }
      &.jviewport-height40 {
        height: 40vh;
      }
      &.jviewport-height50 {
        height: 50vh;
      }
      &.jviewport-height60 {
        height: 60vh;
      }
      &.jviewport-height70 {
        height: 70vh;
      }
      &.jviewport-height80 {
        height: 80vh;
      }
      &.jviewport-height90 {
        height: 90vh;
      }
      &.jviewport-height100 {
        height: 100vh;
      }
    }

    section[class^="jviewport-height"],
    section[class*="jviewport-height"] {
      max-height: none;
    }

    footer {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding:  0.929rem 1.714rem 1.714rem 1.714rem;
			.modal-footer-left-text{
				flex-grow: 1;
				text-align: left;
				color: var(--secondary-color);
			}
      .btn {
        margin-left: 10px;
      }
    }
	}

		&.bordered header{
			border-bottom: 2px solid #ecedf0;
			padding-bottom: 1.714rem;
		}
		
		&.bordered footer{
			border-top: 2px solid #ecedf0;
			padding-top: 1.714rem;
		}

		&.bordered .joomla-modal-dialog section{
			padding-top: 1.143rem;
			padding-bottom: 1.143rem;
		}
	
	&.scrollable .joomla-modal-dialog section{
		max-height: 320px;
		overflow: auto;
	}

  &.jviewport-width10 .joomla-modal-dialog {
    max-width: 10vw;
  }
  &.jviewport-width20 .joomla-modal-dialog {
    max-width: 20vw;
  }
  &.jviewport-width30 .joomla-modal-dialog {
    max-width: 30vw;
  }
  &.jviewport-width40 .joomla-modal-dialog {
    max-width: 40vw;
  }
  &.jviewport-width50 .joomla-modal-dialog {
    max-width: 50vw;
  }
  &.jviewport-width60 .joomla-modal-dialog {
    max-width: 60vw;
  }
  &.jviewport-width70 .joomla-modal-dialog {
    max-width: 70vw;
  }
  &.jviewport-width80 .joomla-modal-dialog {
    max-width: 80vw;
  }
  &.jviewport-width90 .joomla-modal-dialog {
    max-width: 90vw;
  }
  &.jviewport-width100 .joomla-modal-dialog {
    max-width: 100vw;
  }

}

.modal-backdrop.show {
  opacity: 1;
	&.fade {
		opacity: 0;
		transition: .3s;
	}
	&.fade.show {
		opacity: 1;
	}
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
	background-color:var(--overlay);
}
