joomla-progress{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    .progress-inner-text{
        position: absolute;
        width: 100%;
        text-align: center;
    }
}
