//
// Variables
//

// Color system
$blue:    #006898;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #d9534f;
$orange:  #fd7e14;
$yellow:  #f0ad4e;
$green:   #438243;
$teal:    #20c997;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$theme-colors: (
  primary: $blue,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

$alert-colors: (
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red
);

// Alerts
$alert-padding-y:                 .5rem;

// Tabs
$tab-border-radius:               .25rem;

$tab-ul-bg:                       #3073BB;

$tab-link-padding:                .75rem 1rem .85rem;
$tab-link-colour:                 $white;

$tab-link-width-active:           5px;
$tab-link-bg-colour-active:       rgba(0, 0, 0, .2);

$tab-content-padding:             15px 0;
$tab-content-bg:                  #fefefe;

$tab-accordion-link-border:       1px solid #ddd;

$tab-vertical-ul-border:          1px solid #ccc;
