// Callout

//
// Variables
//

@import "../variables";


//
// Base styles
//
joomla-breadcrumb{
  display: inline-flex;
  list-style: none;
  font-size: 1rem;
  .item{
    margin-right: 10px;
    &:not(:last-child):after {
      content: ">";
      margin-left: 10px;
    }
    a{
      color: var(--secondary-color);
      text-decoration: none;
    }
  }
  .minimize-items-wrapper{
    display: none;
    position: absolute;
  }
  .minimize-items-wrapper.active{
    display: block;
  }
}