// Callout

//
// Variables
//

@import "../variables";


//
// Base styles
//
joomla-breadcrumb{
  nav{
    display: -ms-flexbox;
    display: flex;
    ol{
      display: -ms-inline-flexbox;
      display: inline-flex;
      list-style: none;
      font-size: 1rem;
      padding: 0;
      margin: 0;
      a{
        transition: .3s;
      }
    }
  }
  .breadcrumb-item{
    margin-right: 10px;
    &:not(:last-child)>a:after {
      content: ">";
      margin-left: 10px;
      color: var(--secondary-color);
    }
    a{
      color: var(--secondary-color);
      text-decoration: none;
      display: block;
      line-height: 1.4rem;
      &:hover, &:focus{
        color: var(--inverse-background);
      }
    }
    &.active>a{
      color: var(--inverse-background);
      pointer-events: none;
    }
  }
  .minimize-list{
    margin-right: 12px;
  }
  .minimize-items-wrapper{
    background-color: #fff;
    box-shadow: 0 10px 20px -5px rgba(0, 28, 73, 0.15);
    display: none;
    position: absolute;
    ol{
      -ms-flex-direction: column;
      flex-direction: column;
      max-height: 105px;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        left: 15px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #fff;
        width: 0;
        height: 0;
        top: -4px;
      }
      .breadcrumb-item{
        margin-right: 0;
        >a{
          padding: 6px 18px;
          &:hover, &:focus{
            background-color: var(--button-background);
            color: var(--inverse-background);
          }
          &:after{
            display: none;
          }
        }
      }
    }
  }
  .items-toggler{
    color: var(--primary-gradient-color);
    cursor: pointer;
  }
  .minimize-items-wrapper.active {
    display: block;
  }
}