name: Browser Testing

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Sauce Labs
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - run: npm ci
      # Currently we use bower's version of the testing matrix - we should transition this to NPM ASAP
      - run: npm install --unsafe-perm --verbose -g bower
      - run: bower install
      - name: Run tests in Sauce
        run: npm run ci-test
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}

