# This action will run the build script and merge back the distribution files

name: changelog

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - master

jobs:
  changelog:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present

    - uses: stefanzweifel/git-auto-commit-action@v4.11.0
      with:
        commit_message: Adding back the json created...
        branch: ${{ github.head_ref }}
