name: SauceLabs Browser Testing

on:
  pull_request:
    branches:
      - master
    types: [closed]

jobs:
  test:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v3
      name: Set up NodeJS
      with:
        node-version: 18

    - name: Install
      run: npm install

    # Sause Labs part
    - uses: saucelabs/sauce-connect-action@v2.3.4
      with:
        username: ${{ secrets.SAUCE_USERNAME }}
        accesskey: ${{ secrets.SAUCE_ACCESS_KEY }}
        tunnelIdentifier: github-action-tunnel-custom-elements-${{ github.run_id }}
        # github-action-tunnel-custom-elements-${process.env.GITHUB_RUN_ID}

    # Run the tests
    - name: Run tests in Sauce
      run: npm run ci-test
      env:
        SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
        SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}

